<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: header"></head>

<body>
<section th:include="fragments.html :: navbar"></section>
<section class="m-4">
<!--    <a href="/book/add" class="btn btn-success mb-4 text-white">➕ Add</a>-->



    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success mb-4 text-white" data-toggle="modal" data-target="#exampleModal">
        ➕ Add
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Save book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/book/add">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" name="title" class="form-control" placeholder="Book title"/>
                        </div>

                        <div class="form-group">
                            <label>Author</label>
                            <input type="text" name="author" class="form-control" placeholder="Book author"/>
                        </div>

                        <div class="form-group">
                            <label>Genre</label>
                            <input type="text" name="genre" class="form-control" placeholder="Genre">
                        </div>
                        <div class="form-group">
                            <label>Publisher</label>
                            <input type="text" name="publisher" class="form-control" placeholder="Publisher">
                        </div>
                        <button type="submit" class="btn btn-primary">save</button>
                    </form>
                </div>
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                    <button type="button" class="btn btn-primary">Save changes</button>-->
<!--                </div>-->
            </div>
        </div>
    </div>


    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Publisher</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book, counter : ${books}">
            <td th:text="${counter.count}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.genre}"></td>
            <td th:text="${book.publisher}"></td>
            <td>
                <a th:href="@{'/book/delete/' + ${book.id}}" class="btn btn-danger">Delete</a>
                ||
                <a th:href="@{'/book/update/' + ${book.id}}" class="btn btn-warning">Update</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>







</section>
<div th:include="fragments.html :: js_files"></div>
</body>
</html>