<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: header"></head>

<body style="overflow-y: scroll;">
<section th:include="fragments.html :: navbar"></section>
<div class="m-4">
    <!--    <a href="/book/add" class="btn btn-success mb-4 text-white">➕ Add</a>-->


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success mb-4 text-white" data-toggle="modal" data-target="#exampleModal">
        ➕ Add
    </button>
    <nav aria-label="Pagination">
        <ul class="pagination">
            <th:block th:if="${page.hasPrevious()}">
                <li class="page-item">
                    <a class="page-link" th:href="@{'?page='+${page.previousPageable().pageNumber}}" tabindex="-1">Previous</a>
                </li>
            </th:block>

            <th:block th:each="pageNumber : ${pageNumbers}">
                <li th:class="page-item" th:classappend="${page.number == pageNumber} ? active : ''"><a
                        class="page-link" th:href="@{'?page=' + ${pageNumber}}"
                        th:text="${pageNumber}"></a></li>
            </th:block>


            <th:block th:if="${page.hasNext()}">
                <li class="page-item">
                    <a class="page-link" th:href="@{'?page='+${page.nextPageable().pageNumber}}" tabindex="-1">Next</a>
                </li>
            </th:block>
        </ul>
    </nav>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Save book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/book/add" enctype="multipart/form-data">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label>Name</label>
                                    <input type="text" name="name" class="form-control" placeholder="Book name"/>
                                </div>

                                <div class="form-group mb-3">
                                    <label>Author</label>
                                    <input type="text" name="author" class="form-control" placeholder="Book author"/>
                                </div>

                                <div class="form-group mb-3">
                                    <label>Genre</label>
                                    <select class="form-control" name="genre" id="genre">
                                        <th:block th:each="genre : ${genres}">
                                            <option th:value="${genre.name()}" th:text="${genre.getKey()}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Language</label>
                                    <select class="form-control" name="language" id="language">
                                        <th:block th:each="language : ${languages}">
                                            <option th:value="${language.name()}"
                                                    th:text="${language.getValue()}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label>Page Count</label>
                                    <input type="number" name="pageCount" class="form-control"
                                           placeholder="Book pageCount"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Cover</label>
                                    <input type="file" name="cover" class="form-control" placeholder="Book Cover"/>
                                </div>

                                <div class="form-group mb-3">
                                    <label>Book</label>
                                    <input type="file" name="file" class="form-control" placeholder="Book"/>
                                </div>

                                <button type="submit" class="btn btn-primary">save</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>

<!-- Book List -->


<div class="row m-4">
    <th:block th:each="book : ${page.content}">
        <div class="col-2">
            <div class="card p-2" style="width: 100%">
                <img class="card-img-top" th:src="${book.cover.path}" width="140" height="250" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${book.name}"></h5>
                    <i style="display:block;">author : <i th:text="${book.author}"></i></i>
                    <i style="display:block;">description : <i th:text="${book.description}"></i></i>
                    <i style="display:block;">genre : <i th:text="${book.genre}"></i></i>
                    <i style="display:block;">language : <i th:text="${book.language}"></i></i>
                    <i style="display:block;">pageCount : <i th:text="${book.pageCount}"></i></i>
                    <i style="display:block;">downloadCount : <i th:text="${book.downloadCount}"></i></i>
                    <a th:href="@{${book.cover.path}}">Download Cover</a>
                    <br/>
                    <a th:href="@{${book.file.path}}">Download Book</a>
                </div>
            </div>
        </div>
    </th:block>
</div>
<!--    <table class="table table-striped">-->
<!--        <thead class="thead-dark">-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>Name</th>-->
<!--            <th>author</th>-->
<!--            <th>genre</th>-->
<!--            <th>description</th>-->
<!--            <th>language</th>-->
<!--            <th>pages</th>-->
<!--            <th>downloads</th>-->
<!--            <th>-</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->


<!--        <tr th:each="book, counter : ${books}">-->
<!--            <td th:text="${counter.count}"></td>-->
<!--            <td th:text="${book.name}"></td>-->
<!--            <td th:text="${book.author}"></td>-->
<!--            <td th:text="${book.genre}"></td>-->
<!--            <td th:text="${book.description}"></td>-->
<!--            <td th:text="${book.language}"></td>-->
<!--            <td th:text="${book.pageCount}"></td>-->
<!--            <td th:text="${book.downloadCount}"></td>-->
<!--            <td>-->
<!--                <a th:href="@{'/book/delete/' + ${book.id}}" class="btn btn-danger">Delete</a>-->
<!--                ||-->
<!--                <a th:href="@{'/book/update/' + ${book.id}}" class="btn btn-warning">Update</a>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->


</div>
<div th:include="fragments.html :: js_files"></div>
</body>
</html>